<div class="my-3"></div>
<h5  [ngClass]="{'strike' : !todo.active}">{{ todo.title }}</h5>
<p  [ngClass]="{'strike' : !todo.active}">{{ todo.title }}>{{ todo.desc }}</p>

<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="todo{{i}}"  (click)="onCheckBoxClick(todo)" [checked]="!todo.active">
    <label class="form-check-label"    for="exampleCheck1{{i}}"> Done </label>
  </div>

<button type="button" class="btn btn-sm btn-danger" (click)="onClick(todo)">Delete</button>
