<!-- <p>about works!</p> -->
<div class="container mt-5">
    <div class="jumbotron">
        <div class="col-md-8">
            <h1>About This Angular APP</h1>
            <p>Hi there, my name is Mohammed Zakria Khan, and I'm a software engineer at LTIMindtree. I'm passionate about building user-friendly applications that help people be more productive and organized.</p>
            <p>One of the applications I've recently built is a TO-DO list. A TO-DO list is a simple but powerful tool for managing tasks and keeping track of what needs to be done. My TO-DO list application is designed to be simple and easy to use, while also providing all the features you need to manage your tasks effectively.</p>
            <p>With my TO-DO list application, you can add tasks, edit tasks, and mark tasks as completed. You can also organize your tasks into categories, set due dates and reminders, and even share your tasks with others.</p>
            <p>Whether you're a busy professional, a student, or just someone who wants to be more organized, my TO-DO list application can help you get things done and stay on top of your tasks.</p>
            <p>So why not give it a try? start using today and start managing your tasks like a pro!</p>
        </div>
    </div>
</div>