<!-- 
<p>todos works!</p>

<div *ngFor="let todo of todos">
    <!-- <li>{{todo.sno}} - {{todo.title}} - {{todo.desc}}</li>   
    
  <app-todo-item [todo]="todo">   
</app-todo-item> 
 
</div> -->


<div class="container">
  <h1 class="text-center mb-3">To-Do-List BY MZK</h1>

<app-add-todo (todoAdd)="addTodo($event)"  ></app-add-todo>



<h4>Your Todos</h4>


<div *ngIf="this.todos.length===0; else elseBlock">No Todos to Display</div>
<ng-template #elseBlock>

<div *ngFor="let todo of todos; index as i">
    <app-todo-item  [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)"  (todoCheckbox)="toogleTodo($event)"></app-todo-item>
</div>
</ng-template>
</div>